version = 0.1

[default]
[default.global.parameters]
stack_name = "fastapi-with-lambda-docker-runtime-stack"

[default.build.parameters]
parallel = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
resolve_image_repos = true
