version: 1
disable_existing_loggers: false
formatters:
  default:
    format: '%(levelname)s %(asctime)s %(filename)s %(funcName)s %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
handlers:
  console:
    class: logging.StreamHandler
    formatter: default
loggers:
  uvicorn:
    handlers:
      - console
    level: DEBUG
